*{ margin: 0; padding: 0; }
ul,li{ list-style: none; }
a{ text-decoration: none; color: black; }

html, body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(235, 235, 235);
    height: 100%;
    width: 100%;
}

.wrap{
    width: 100%;
    position: relative;
}

.wrap-in{ 
    width: 1200px;
    margin: 0 auto;
}

.cancel_daddy {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* display: block; */
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.192);
    display: none;
    z-index: 99;
}

.cancel_mom {
    width: 500px;
    /* height: 450px; */
    /* margin: 250px auto; */
    border-radius: 2px;
    /* max-height: 80%; */
    overflow: auto;
    overflow: hidden;
    background-color: white;
    z-index: 8;
    box-sizing: border-box;
    opacity: 1;
    /* background-color: pink; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -220px;
    margin-top: -270px;
    /* 1920 가로
    1080 세로 */
    /* margin: -540px 0 0 -960px; */
}

.cancel_div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cancel_div_top {
    border-radius: 2px 2px 0px 0px;
    padding: 42px 42px 36px;
    position: relative;
    opacity: 1;
}

.cancel_title {
    font-size: 26px;
    line-height: 33px;
    padding-right: 48px;
    display: inline-block;
    width: 100%;
}

.cancel_x_button {
    line-height: 38px;
    top: 42px;
    right: 42px;
    position: absolute;
}

.cancel_x {
    position: relative;
    cursor: pointer;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMjIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy40NjYgMTJsNi4yMy02LjIzYTEuMDM2IDEuMDM2IDAgMTAtMS40NjYtMS40NjZMMTIgMTAuNTM0bC02LjIzLTYuMjNBMS4wMzYgMS4wMzYgMCAxMDQuMzA0IDUuNzdsNi4yMyA2LjIzLTYuMjMgNi4yM2ExLjAzNiAxLjAzNiAwIDEwMS40NjYgMS40NjZsNi4yMy02LjIzIDYuMjMgNi4yM2ExLjAzNSAxLjAzNSAwIDEwMS40NjYtMS40NjVMMTMuNDY2IDEyeiIvPjwvc3ZnPg==") center center / cover no-repeat;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.cancel_div_body {
    padding: 20px 42px 36px;
    border-top: 1px solid rgb(238, 238, 238);
}

.cancel_text {
    font-size: 14px;
    font-weight: 700;
    color: rgb(68, 68, 68);
}

button {
    border: 0px;
}


