*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;color: rgb(24, 24, 24);}

body{ 
    color: rgb(24, 24, 24); 
    font-family: 'Noto Sans KR', sans-serif;
}

.back-white{background: white;}
.back-gray{background: rgb(235, 235, 235);}

.section-in{width: 1400px; height: 100%; position: relative; z-index: 98; padding: 100px 0; box-sizing: border-box; margin: 0 auto;}
.section-in2{width: 1200px; height: 100%; position: relative; z-index: 98; padding: 100px 0; box-sizing: border-box; margin: 0 auto;}
   
.section-in-room{
    width: 1200px; height: 100%; position: relative; z-index: 90; box-sizing: border-box; margin: 0 auto; background-color: rgba(255, 255, 255, 0.486);}

.title_sub{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
}

/* input checkbox */

.checks{
    position: relative;
}

.checks input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border:0;
}

.checks input[type="checkbox"] + label{
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checks input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
    inset 0px -15px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="checkbox"] + label:active::before,
.checks input[type="checkbox"]:checked + label:active:before{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),  
    inset 0px 1px 3px rgba(0, 0, 0, 0.01);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
    content: '\2714';  /* 체크표시 유니코드 사용 */
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    background: #e9ecee;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
    inset 0px -15px 10px -12px rgba(0,0,0,0.05), 
    inset 15px 10px -12px rgba(255,255,255,0.1);
  }

  .checks .etrans input[type="checkbox"] + label {
    padding-left: 30px;
  }

  .checks .etrans input[type="checkbox"] + label:before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: .6;
    box-shadow: none;
    /* border-color: white; */
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  .checks .etrans 
  input[type="checkbox"]:checked + label:before {
    position: absolute;
    content: "";
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity:1; 
    background: transparent;
    border-color:transparent #f3405a #f3405a transparent;
    border-top-color:transparent;
    border-left-color:transparent;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
  .no-csstransforms .checks .etrans 
  input[type="checkbox"]:checked + label:before {
    /*content:"\2713";*/
    content: "\2714";
    top: 0;
    left: 0;
    width: 21px;
    line-height: 21px;
    color: #f3405a;
    text-align: center;
    border: 1px solid #f3405a;
  }

/* input text */

.text01{
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.text01-5{
    width: 78%;
    height: 50px;
    padding: 10px 10px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.text02{
    width: 48%;
    height: 40px;
    padding: 10px 10px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    margin-right: 4%;
}

.text02:last-child{
    margin-right: 0;
}

.text03{
    width: 30%;
    height: 40px;
    padding: 10px 10px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

/* 버튼 */
button{ border:0; box-sizing: border-box; cursor: pointer;}
.btn100{width: 100%; text-align: center;}
.btn01{width: 80px; padding: 10px 20px; text-align: center; box-sizing: border-box; border: 0;}
.btn02{width: 120px; padding: 15px 20px; text-align: center; box-sizing: border-box; border: 0;}
.btn03{width: 150px; padding: 15px 20px; text-align: center; box-sizing: border-box; border: 0;}

.btn04{width: 80px; padding: 10px 20px; text-align: center; box-sizing: border-box; 
    border: 1px solid #f3405a; color: #f3405a;}
.btn05{width: 120px; padding: 15px 20px; text-align: center; box-sizing: border-box; border: 0;
    border: 1px solid #f3405a; color: #f3405a;}
.btn06{width: 150px; padding: 20px 20px; text-align: center; box-sizing: border-box; border: 0;
    border: 1px solid #f3405a; color: #f3405a;}

/* color */
.pink-f{ color: #f3405a;}
.pink-f a{ color: #f3405a; display: block;}
.gray-f{ color: rgb(177, 177, 177);}
.gray-f a{ color: rgb(177, 177, 177); display: block;}
.yellow-f{color:rgb(255, 196, 0); }
.yellow-f a{ color: rgb(255, 196, 0); display: block;}

.on-pink{background-color: #f3405a !important;}
.on-pink a{ color: white; display: block;}
.on-bottom{border-bottom: 3px solid #f3405a; box-sizing: border-box; color: #f3405a;}

.on-click{ font-weight: 800; background-color: #f3405a14; border-left: 3px solid #f3405a; box-sizing: border-box;}
.on-click a{ color: #f3405a; display: block;}

.local-label .on{border-bottom: 3px solid #f3405a;}

.brown{ background-color: #3c302c; color: white;}
.pink{ background-color: #f3405a; color:white;}
.pink-b{ border:1px solid #f3405a; color:#f3405a; border-radius: 5px; background-color: white;}